@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-btn {
    padding: 10px 20px;
  }

  .hero-link {
    padding: 10px 20px;
  }

  .taste-cover-block {
    padding: 10px;
  }

  .footer-input {
    padding: 5px 8px;
    width: 180px;
  }

  .footer-form-btn {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  /*--------------------------- HEADER ---------------------*/

  .mobile-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-section {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .header-container {
    justify-content: space-between;
  }

  .header-list {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .header-link {
    color: var(--main-black-text-color);
    font-weight: 500;
    letter-spacing: -0.02em;
    padding-top: 28px;
    padding-bottom: 36px;
    transition: color var(--transition);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }

  .header-soc-list {
    display: flex;
    gap: 18px;
  }

  .header-soc-link:hover .header-soc-icon,
  .header-soc-link:focus .header-soc-icon {
    fill: var(--accent-color);
  }

  .header-soc-icon {
    fill: #111111;
    transition: fill var(--transition);
  }

  /*--------------------------- HERO ---------------------*/

  .hero-container {
    padding: 671px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-back-tab1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero-back-tab2x.jpg);
    }
  }

  .hero-title {
    font-size: 28px;
    width: 484px;
  }

  .hero-buttons {
    display: flex;
    align-items: center;
  }

  .hero-scroll {
    margin-top: unset;
    margin-left: auto;
  }

  .hero-btn,
  .hero-link {
    padding: 14px 40px;
  }

  /*--------------------------- BENEFITS ---------------------*/

  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  .benefits-item {
    width: calc((100% - 32px) / 2);
  }

  /*--------------------------- TASTE ---------------------*/

  .taste {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .taste-title {
    font-size: 24px;
    margin-bottom: 28px;
    max-width: 411px;
  }

  .taste-text {
    margin-bottom: 50px;
    max-width: 486px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  /*--------------------------- MADE ---------------------*/

  .made-container {
    padding-left: 77px;
    padding-right: 77px;
  }

  .made-title {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .made-text-wrap {
    padding: 32px;
  }

  .made-text {
    margin-bottom: 28px;
    max-width: 350px;
  }

  .made-item-text {
    max-width: 464px;
  }

  /*--------------------------- LOVED ---------------------*/

  .slick-dotted.slick-slider {
    display: none;
  }

  .loved {
    padding-bottom: 80px;
  }

  .loved-title {
    margin-bottom: 90px;
    font-size: 24px;
  }

  .loved-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .loved-item {
    width: calc((100% - 16px) / 2);
  }

  .loved-item:nth-child(3) {
    margin: 0 auto;
  }

  .loved-button {
    margin-top: 50px;
  }

  .loved-img {
    top: -40px;
  }

  .loved-button {
    padding: 14px 40px;
    font-size: 18px;
  }

  /*--------------------------- FOOTER ---------------------*/

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-title {
    font-size: 28px;
    max-width: 300px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 24px;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 16px;
  }

  .footer-nav-link.hide {
    display: none;
  }

  .footer-bottom {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .footer-form {
    margin-top: unset;
  }

  .footer-input {
    padding: 14px 24px;
    width: 233px;
  }

  .footer-form-btn {
    padding: 14px 28px;
  }
}

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
  }

  /*--------------------------- HEADER ---------------------*/

  .header-list {
    margin-left: auto;
    margin-right: 90px;
  }

  /*--------------------------- HERO ---------------------*/

  .hero-container {
    padding: 380px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-back-desk1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero-back-desk2x.jpg);
    }
  }

  /*--------------------------- BENEFITS ---------------------*/

  .benefits-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .benefits-list {
    gap: 88px;
    flex-wrap: nowrap;

    padding-left: 18px;
    padding-right: 18px;
  }

  .benefits-item {
    width: calc((100% - 176px) / 3);
  }

  .benefits-item::after {
    content: "";
    position: absolute;
    right: -18px;
    top: 60px;
    height: 124px;
    width: 1px;
    background-color: #ffffff;
    display: block;
  }

  /*--------------------------- TASTE ---------------------*/

  .taste {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .taste-list {
    flex-wrap: nowrap;
    gap: 19px;
  }

  .taste-item {
    width: calc((100% - 57px) / 4);
  }

  /*--------------------------- MADE ---------------------*/

  .made-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .made-wrap {
    display: flex;
    align-items: center;
  }

  .made-text-wrap {
    margin-top: unset;
    margin-left: 20px;
  }

  /*--------------------------- LOVED ---------------------*/

  .loved {
    padding-bottom: 100px;
  }

  .loved-list {
    flex-wrap: nowrap;
    gap: 28px;
  }

  .loved-item {
    width: calc((100% - 56px) / 3);
    padding: 56px 24px 24px 24px;
  }

  /*--------------------------- FOOTER ---------------------*/

  .footer-nav-list {
    gap: 24px;
  }

  .footer-bottom {
    justify-content: space-between;
  }

  .footer-input {
    width: 313px;
  }

  .footer-form-btn {
    padding: 17px 32px;
  }
}
