:root {
  --main-black-text-color: #111111;
  --main-white-text-color: #ffffff;
  --accent-color: #fd9222;
  --dark-background-color: #1e1823;
  --light-background-color: #fafafa;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-background-color);
  line-height: 0.29;
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */

.header-section {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
}

.header-soc-list {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--dark-background-color);
  z-index: 99;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-open-icon {
  stroke: currentColor;
}

.mobile-close-icon {
  stroke: currentColor;
}

.mobile-open-btn {
  min-width: 28px;
  min-height: 28px;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
}

.mobile-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  margin-bottom: 88px;
}

.logo {
  color: var(--main-black-text-color);
  font-weight: 700;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}

.logo span {
  font-style: italic;
  margin-right: 3px;
}

.logo img {
  margin-left: 4px;
}

.mobile-list {
  padding-left: 28px;
}

.mobile-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-link {
  color: var(--main-white-text-color);
  font-weight: 500;
  letter-spacing: -0.02em;
}

.current {
  color: var(--accent-color);
}

.mobile-soc-list {
  display: flex;
  gap: 18px;
  margin-top: auto;
}

.mobile-soc-icon {
  fill: #ffffff;
}
